/* = Disqus
 ------------------------------------------------------------- */

.dsq-widget-list{
padding-left:0
}
.post-message p,.dsq-widget-user,.dsq-widget-comment p{
font-size:18px;
font-size:1.125rem
}
