/* = Pagination
 ------------------------------------------------------------- */

.pagination{
position:relative;
display: inline-block;
line-height:13px
}
.pagination span,.pagination a{
display:block;
float:left;
margin:5px 5px 5px 5px;
padding:12px 14px;
text-decoration:none;
width:auto;
color:#fff;
background:#555
}
.pagination a:hover{
color:#fff;
background:#3279bb
}
.pagination .current{
background:#3279bb;
color:#fff
}
.paging-navigation{
margin:16px 10px;
padding:1rem;
text-align: center;
}
.screen-reader-text{
display:none
}